snippet ns-toggle1 ns Notion toggle heading 1
	# [toggle] ${1:Section}

	  ${2:Content}
snippet ns-toggle2 ns Notion toggle heading 2
	## [toggle] ${1:Section}

	  ${2:Content}
snippet ns-toggle3 ns Notion toggle heading 3
	### [toggle] ${1:Section}

	  ${2:Content}
snippet ns-todo ns unchecked todo
	- [ ] ${1:Task}
snippet ns-done ns checked todo
	- [x] ${1:Task}
snippet ns-quote ns Notion quote
	> ${1:Quote}
snippet ns-note ns Notion note callout
	> [!NOTE] ${1:Text}
snippet ns-info ns Notion info callout
	> [!INFO] ${1:Text}
snippet ns-warning ns Notion warning callout
	> [!WARNING] ${1:Text}
snippet ns-error ns Notion error callout
	> [!ERROR] ${1:Text}
snippet ns-success ns Notion success callout
	> [!SUCCESS] ${1:Text}
snippet ns-code ns Notion code block
	\`\`\`${1:language}
	${2:code}
	\`\`\`
snippet ns-divider ns Notion divider
	---
snippet ns-toc ns Notion table of contents
	[TOC]
snippet ns-page ns Notion page link
	[[link_to_page page_id:${1:page_id}]]
snippet ns-db ns Notion database link
	[[link_to_page database_id:${1:database_id}]]
